.login {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 8px 1px rgba(0, 0, 0, 0.158);
    padding: 25px;
    text-align: center;
}


input, select, textarea {
    margin: 10px;
    border: hsl(246, 39%, 85%);
    border: 2px solid #f0f0f0;
    border-radius: 6px;
    width: 90%;
    padding: 15px;
    font-weight: 600;
}

input:hover, input:focus, textarea:focus, select:focus {
    border: 2px solid hsl(246, 25%, 77%);
}

.error {
    background-image: url('./icon-error.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 98%;
    background-color: #fff;
    border: 2px solid hsl(0, 100%, 74%);
    color: hsl(0, 100%, 74%);
}

input.error::-webkit-input-placeholder {
    color: #fff;
}
input.error:hover, input.error:focus {
    border: 2px solid  hsl(0, 47%, 49%);
}

button {
    background-color: hsl(154, 59%, 51%);
    color: white;
    width: 97%;
    padding: 15px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    box-shadow: inset 0 -5px 1px hsl(154, 59%, 39%);
    font-weight: 500;
}

button:hover {
    font-weight: 800;
}

button:active {
    background-color:hsl(154, 72%, 57%);
}

#oops {
    color: hsl(0, 100%, 74%);
    font-size: 10px;
    font-style: italic;
    text-align: right;
    margin: -5px 5px 0px -5px;
}

.disclaimer {
    font-size: 9px;
    color: #afafaf;
  }
