.Bubbles {
    margin: 150px 50px 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 40px;
    grid-template-areas:
      "Punchy Punchy Vladimir Midge"
      "Maddie Sherb Sherb Midge";
    align-content: center;
}

@media only screen and (max-width: 600px) {
    .Bubbles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}