@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: Poppins;
  margin: 0px;
}

html {
  background: url("./images/leaf-pattern-background.jpg") no-repeat center center fixed;
  background-color: #9dffb0;
}

a:link, a:visited, a:active {
  color: #c48d3f;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: hsl(249, 10%, 26%);
  font-weight: 800;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}