@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: Poppins;
}

html {
  background: url("./images/bg-intro-desktop.png") no-repeat center center fixed;
  background-color: hsl(0, 100%, 74%);
}

a:link, a:visited, a:active {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: hsl(249, 10%, 26%);
  font-weight: 800;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}