.Left {
    text-align: left;
    height: 400px;
    width: 500px;
    margin: 150px 50px 10px 40px;
}

#learn {
    font-size: 1.25cm;
    text-align: left;
}

.leftcontent {
    text-align: left;
    font-size: 16px;
}